:root{
  --red: #dc3545;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rba(0, 0, 0, 0.5);
  --putih: #d4d4d4;
}

.dashboard-container {
  display: flex;
  font-family: "Courier Prime", monospace;
  font-size: 1.2rem;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.92);
  padding: 2rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar h1 {
  font-size: 2.2rem;
  color: #ff2c2c;
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: white;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #ff2c2c;
  color: white;
}

/* Content di samping sidebar */
.content {
  margin-left: 250px; /* Jarak sama dengan lebar sidebar */
  padding: 2rem;
  min-height: 100vh;
  background-color: rgba(31, 31, 31, 0.9);
  color: white;
  box-sizing: border-box;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    color: red;
    font-size: 4rem;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

/* Table styling */
.table-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 0.8rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
    text-align: left;
    color: #f1f1f1;
    background-color: rgba(255, 255, 255, 0.05);
}

th {
    background-color: rgba(255, 255, 255, 0.08);
}

a {
    color: #e0e0e0 !important;
    text-decoration: underline;
}


/* Delete button */
.btn-delete {
    background-color: #e3342f;
    border: none;
    padding: 0.4rem 0.7rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-delete:hover {
    background-color: #cc1f1a;
}

.form-wrapper {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    color: #fff;
}

.pagination .page-link {
    color: var(--red);
}

.pagination .page-item.active .page-link {
    background-color: var(--red);
    border-color: var(--red);
    border-radius: 4px;
}

.pagination .page-item .page-link {
    background-color: #0e0e0e;
    border-color: #464646;
}

.form-wrapper label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.form-wrapper input,
.form-wrapper select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.btn-back {
    font-weight: 200px !important; /* atau 400 */
}

.btn-submit {
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-submit i {
    margin-right: 5px;
}

.success-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.home{
  /* background-image: url(/img/home.jpg); */
  background-position: center;
  background-size: cover;

  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.home h2, h3, p {
  color: var(--putih);
}

.home h2, .info h2, .story h2, .galery h2, .confirm h2, .gifts h2{
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--red);
  letter-spacing: 2px;
}

.home h3{
  font-size: 1.2rem !important;
  color: #c7c7c7;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.home p{
  font-size: 0.6rem;
  color: #c2c2c2;
}

.home .pengantin{
  margin-top: 10px;
  /* display: block; */
  /* padding-top: -60px; */
}

.home .pengantin h3{
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.4rem;

}

.home .pengantin img{
  width: 100%;
}

.cover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url(/img/bg11.png);
  background-position: center;
  background-size: cover; 
}

.cover{
  position: relative;
  /* background-color: var(--bg); */
}

.cover h4{
  color: var(--putih);
  font-size: 1rem;
  padding-top: 10px;
}

.cover h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
}

.cover p{
  color: var(--putih);
  font-size: 1rem;
}

.arrow i {
  text-decoration: none;
  color: var(--putih);
  animation: bounce-vertical 1.5s infinite;
  display: inline-block;
}

.arrow i:hover {
  color: var(--red);
  transition: 0.3s ease-in-out;
}

.pengantar{
  /* background-image: url(/img/pengantar.jpg); */
  background-position: center;
  background-size: cover;
}

.pengantar p{
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.box-pengantar{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid var(--putih);
  margin-bottom: 20px;
}

.box-pengantar h4{
  color: var(--putih);
  padding: 10px;
  margin: 2px;
  margin-top: 20px !important;
}

.box-pengantar p{
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 0.8rem;
  padding-top: 5px;
}

.pengantar-teks{
    padding-top: 30px;
}

.info{
  /* background-image: url(/img/galerifx.jpg); */
  background-position: center;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 0.8rem;
}

.info .card{
  background-color: rgba(106, 106, 106, 0.1) !important;
  color: var(--putih);
  border: 1px solid #dadada;
}

.info .card-header{
  text-transform: uppercase;
  border-bottom: 1px solid #dadada;
}

.info p {
    font-size: small;
}

.galery{
  /* background-image: url(/img/galeri1.jpg); */
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.gallery-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery-card:hover {
  transform: scale(1.05);
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  transition: filter 0.3s ease-in-out;
}

.gallery-card:hover img {
  filter: brightness(1);
}

.gallery-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-size: 18px;
  color: #e3e3e3;
}

/* Dropzone container */
.dropzone {
    border: 2px dashed #dc3545; /* Merah, putus-putus */
    border-radius: 12px;
    background-color: #2c2c2c;
    color: white;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s ease;
    outline: none;
    min-height: 200px;
}

/* Teks "Upload gambar di sini" */
.dropzone::before {
    content: "Upload gambar di sini";
    color: #dc3545;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
}

/* story */
.story{
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.story p .galery p{
 font-size: 1rem;

}

.timeline{
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before{
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  width: 2px;
  background-color: rgb(136, 136, 136);
  left: 50%;
}

.timeline li{
  margin-bottom: 5rem;
  position: relative;
}

.timeline li::after{
  content: "";
  display: table;
}

.timeline li::after{
  clear: both;
}

.timeline-image {
  width: 100%;
  height: 250px; /* atau tinggi sesuai kebutuhan */
  overflow: hidden;
  border-radius: 15px; /* opsional biar agak rounded */
  position: relative;
}

.timeline-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ini kunci supaya proporsi tetap terjaga dan gambar memenuhi container */
  display: block;
}

.timeline li .timeline-image{
  width: 180px;
  height: 144px;
  position: absolute;
  background-color: white;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel{
  width: 43.1%;
  max-height: 200px;
  top: 5px;
  float: left;
  border: 1px solid rgb(136, 136, 136);
  border-right: none;
  position: relative;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.timeline li.timeline-genap .timeline-panel{
  float: right;
  border-radius: 0 5px 5px 0;
  border-left: none;
  border-right: 1px solid rgb(136, 136, 136);
  max-height: 200px;
}

.timeline li h4{
  color: var(--red);
  font-size: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}
.panel-p{
  font-size: 0.8rem !important;
  letter-spacing: 1px;
  color: #c2c2c2;
}

/* Gift */
.gifts{
  background-position: center;
  background-size: cover;
  /* padding-top: 10rem; */
}

.list-group{
  background-color: rgba(0, 0, 0, 0.3) !important;
  --bs-list-group-bg: none !important;
  margin: 0 40px;
  --bs-list-group-border-color: no !important;
  margin-top: 10px;
}

.list-group-item{
  padding: 20px;
  color: #bababa !important;
  font-size: 1rem;
}

.bank{
  letter-spacing: 1px;
  font-size: 1rem;
}

.netflix-container {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .netflix-cards {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .netflix-card {
        width: 240px;
        height: 300px !important;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 20px !important;
    }

    .netflix-card h5, h3{
        font-size: 2rem;
    }

    .netflix-card h3{
        font-size: 7rem;
    }

    .netflix-card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

    .netflix-icon {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .dash h1 {
      font-size: 2.5rem;
    }

    .dash:hover{
      background-color: rgba(0, 0, 0, 0.92) !important;
    }