body {
  background-color: #000;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Courier Prime", monospace;
}

.login-container {
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.login-title {
  font-family: "Bebas Neue", sans-serif;
  color: #e50914;
  font-size: 4rem;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.login-box {
  background-color: rgba(29, 29, 29, 0.5);
  padding: 50px 60px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  max-width: 400px;
  margin: 0 auto;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 25px;
  letter-spacing: 1.2px;
}

.form-control:focus {
  outline: none;
  border-bottom: 2px solid #e50914;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

#togglePassword {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.login-btn {
  background-color: #e50914;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 1.2rem;
  width: 100%;
}

.login-btn:hover {
  background-color: #ff2b2b;
}

.register-link {
  margin-top: 20px;
  font-size: 0.95rem;
  color: #fff;
}

.register-link a {
  color: #e50914;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 500px) {
  .login-title {
    font-size: 3rem;
  }

  .login-box {
    padding: 40px 30px;
  }
}